In [ ]:
import numpy as np
import pandas as pd

In [ ]:
def linear_regression(X, y):
  #Initialization

  #no of rows
  n_samples = X.shape[0]
  #no of columns
  n_features = X.shape[1]
  
  #Intial 'm' values
  weights = np.zeros(n_features) 
  #Initial y intercept i.e 'b' value
  bias = 0
  
  #learning rate
  learning_rt = 0.01
  #number of iterations
  n_iters = 1000
  
  #Gradient descent 
  for _ in range(n_iters):
     y_pred = np.dot(X, weights) + bias
     dw = (1/n_samples) * np.dot(X.T, (y_pred - y))
     db = (1/n_samples) * np.sum(y_pred - y)
     weights -= learning_rt * dw
     bias -= learning_rt * db

  return weights, bias

def calc_y_pred(X_test, weights, bias):
  return np.dot(X_test, weights) + bias

In [ ]:
df = pd.read_csv("winequality-red.csv", delimiter=";")
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [ ]:
df.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [ ]:
correlation = df.corr()['quality'].drop('quality')

print(correlation.sort_values(ascending=False))

alcohol                 0.476166
sulphates               0.251397
citric acid             0.226373
fixed acidity           0.124052
residual sugar          0.013732
free sulfur dioxide    -0.050656
pH                     -0.057731
chlorides              -0.128907
density                -0.174919
total sulfur dioxide   -0.185100
volatile acidity       -0.390558
Name: quality, dtype: float64

In [ ]:
selected_features = ['alcohol', 'sulphates', 'citric acid', 'fixed acidity']
X = df[selected_features]
X_test = X.iloc[0] #using the first data point for testing the model
X_train = X[1:] #dropping first data point from training set
y = df['quality']

In [ ]:
weights, bias = linear_regression(X_train, y)

array([5.06093632, 5.30295986, 5.29686559, ..., 5.71979377, 5.32152904,
       5.68286817])

In [ ]:
df['quality'].unique()

array([5, 6, 7, 4, 8, 3])

In [ ]:
y_pred = calc_y_pred(X_test, weights, bias)
y_actual = df['quality'].iloc[0]
print(f"Predicted y: {y_pred:.2f}")
print(f"Actual y: {y_actual:.2f}")

Predicted y: 5.06
Actual y: 5.00